<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta charset="utf-8">
   <title>HTML5-WebGL-NodeJS Multiplayer Game Experiment by E.BOTROS</title>
   <link rel="stylesheet" type="text/css" href="../css/styles.css">  
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
   <script type="text/javascript" src="/js/jquery.min.js"></script>
   <script type="text/javascript" src="/js/jqueryui.min.js"></script>
   <script type="text/javascript" src="/nature.js"></script>
   <script type="text/javascript" src="/js/three.js"></script>   
   <script type="text/javascript" src="/js/Core.js"></script>
   <script type="text/javascript" src="/js/loaders/OBJLoader.js"></script>
   <!--        <script type="text/javascript" src="/js/loaders/ColladaLoader.js"></script>-->
   <script type="text/javascript" src="/js/loaders/MD2Character.js"></script>
<!--   <script type="text/javascript" src="/js/shaders/ShaderWater.js"></script>-->
   <script type="text/javascript" src="/js/shaders/ShaderGrass.js"></script>
   <script type="text/javascript" src="/js/shaders/ShaderTiling.js"></script>
   <script type="text/javascript" src="/js/shaders/ShaderSky.js"></script>
   <!--        <script type="text/javascript" src="/js/physi.js"></script>-->
<!--    <script type="text/javascript" src="/js/gui/dat.gui.min.js"></script>
    <script type="text/javascript" src="/js/gui/threex.rendererstats.js"></script>-->
    <script type="text/javascript" src="/js/tools/ShaderParticles.js"></script>
    <script type="text/javascript" src="/js/audio/jasmid/stream.js"></script>
    <script type="text/javascript" src="/js/audio/jasmid/midifile.js"></script>
    <script type="text/javascript" src="/js/audio/jasmid/replayer.js"></script>
    <script type="text/javascript" src="/js/audio/jasmid/synth.js"></script>
    <script type="text/javascript" src="/js/audio/jasmid/audio.js"></script>
    <script type="text/javascript" src="/js/audio/Sound.js"></script>
    <script type="text/javascript" src="/js/controls/Controls.js"></script>
    <script type="text/javascript" src="/js/Game.js"></script>

        <script src="/js/Mirror.js"></script>
        <script src="/js/WaterShader.js"></script>
    <script>

     angular.module('map', [])
     .config(function($interpolateProvider){
         $interpolateProvider.startSymbol('{[{').endSymbol('}]}')});
     function HudState($scope) {

        initScene();
        setTimeout("$('#screenplane').fadeOut(5000);",7000);
        setInterval("getConnTime()",100);
        setInterval("conn.send('ST')",10000)

        $scope.health = 100;
        $scope.ammo = 0;
        $scope.clock = '-:-';
        $scope.clipSize = 50;
        $scope.logs = [
        "1:01:01 - You've spotted the beach",
        ];
        $scope.chats = [];

        $scope.addmessage = function (data) {
                $scope.chats[$scope.chats.length] = 'You say: '+data;
            };
        $scope.receivemessage = function (name,data) {
                $scope.chats[$scope.chats.length] = name+' says: '+data;
            };

        $scope.style = {
            visible: true,
            update: true,
            transparent: true,
            animated: true,
        };
    }
</script>
<style>
    #customControls {
        margin-left: 20px;
        z-index: 2;
    }

    #canvas-align {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 0px;
    }

    #hud {
        position: absolute;
        top: 0;
        width: 100%;
        height: 300px;
        margin: 0px;
        z-index: 3;
        display: none;
    }

    #hud.visible {
        display: block;
    }

    #health, #ammo, #log, #chat,#clock  {
        position: absolute;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #eee;
        font-family: arial;
    }

    #health {
        top: 0px;
        right: 10px;
        background: #AA3333;
        font-size: 10pt;
        font-weight: bold;
        padding: 5px;
    }

    #ammo {
        top: 30px;
        right: 10px;
        background: #3333AA;
        font-size: 10pt;
        font-weight: bold;
        padding: 5px;
    } 
    #clock {
        top: 60px;
        right: 10px;
        background: #3333AA;
        font-size: 10pt;
        font-weight: bold;
        padding: 5px;
    }

    #log {
        top: 90px;
        right: 10px;
        background: #33AA33;
        width: 200px;
        font-size: 10px;
    }
    #chat {
        top: 120px;
        right: 10px;
        background: #33AA33;
        width: 200px;
        font-size: 10px;
    }

    #stats {
        float: right;
    }

    .transparent #health {
        background: rgba(120, 20, 20, 0.5);
    }

    .transparent #ammo {
        background: rgba(20, 20, 120, 0.5);
    }

    .transparent #log {
        background: rgba(20, 120, 20, 0.5);
    }

    .transparent #clock {
        background: rgba(20, 120, 20, 0.5);
    }
    .transparent #chat {
        background: rgba(20, 120, 20, 0.5);
    }
    /*@-moz-keyframes heartbeat {
        0% { margin-bottom: 0; }

        10% { margin-bottom: 10px; }

        20% { margin-bottom: 0; }

        30% { margin-bottom: 10px; }

        40% { margin-bottom: 0; }
    }

    @-webkit-keyframes heartbeat {
        0% { margin-bottom: 0; }

        10% { margin-bottom: 10px; }

        20% { margin-bottom: 0; }

        30% { margin-bottom: 10px; }

        40% { margin-bottom: 0; }
    }  

    .animated #health, .animated #ammo {
        -webkit-animation-duration: 10s;
        -webkit-animation-name: heartbeat;
        -webkit-animation-iteration-count: infinite;

        -moz-animation-duration: 10s;
        -moz-animation-name: heartbeat;
        -moz-animation-iteration-count: infinite;
    }*/

    body, html {height:100%;}

    div.wrap {height:100%; overflow:hidden;}

    body {overflow: hidden; }

    #screenplane {
        position:absolute;
        background: black;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        z-index: 10000;
    }

</style>
</head>
<body ng-app="map">
    <div id="screenplane">
        <center><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <img src="/spinner.gif" /><br/><br/>
            <h1 style="color:white;">LOADING ...</h1>
        </center>
    </div>

    <div class='wrap'>
        <div id="webgl" style="position:absolute;top:0px;left:0px;"></div>
        <div id="content-frame" ng-controller="HudState">
            <div id="canvas-container">
                <div id="canvas-align">
                    <div id="hud" ng-class="{visible: style.visible, transparent: style.transparent, animated: style.animated}">
                        <div id="health">
                            <b>HP:</b> {[{health}]}
                        </div>
                        <div id="ammo">
                            <b>Scrolls:</b> {[{ammo}]}
                        </div>
                        <div id="clock">
                            <b>Clock:</b> {[{clock}]}
                        </div>
                        <div id="log">
                            <div ng-repeat="log in logs track by $index">{[{log}]}</div>
                        </div>
                        <div id="chat">
                            <input type="text" name="chatinput" id="chatinput" onclick="$(this).focus()" onkeydown="if (event.keyCode == 13) { conn.send('CHAT:'+this.value);angular.element(this).scope().addmessage(this.value)}"/>
                            <div id="cdiv" ng-repeat="chat in chats track by $index">{[{chat}]}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="painDiv" style="position:absolute;top:0px;left:0px;width:100%;height:100%;background: url(&quot;../textures/blood.png&quot;) repeat scroll 0 0 transparent; opacity:0.2; visibility:hidden;"></<div style="position:absolute;">
            <div id="underwaterDiv" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; opacity: 0.8; visibility: hidden;"></div>

            <div class="droppable myBox ui-droppable" style="position:absolute;bottom:10px;left:10px;"><center><br>USE</center></div>

            <div class="draggable ui-draggable" id="I_Scroll02" style="position:absolute;top:50px;left:5px;background: #eeeeee url(&quot;../textures/items/I_Scroll02.png&quot;);visibility:hidden;"></div>
            <div class="draggable ui-draggable" id="I_Antidote" style="position:absolute;top:90px;left:5px;background: #eeeeee url(&quot;../textures/items/I_Antidote.png&quot;);visibility:hidden;"></div>
            <div class="draggable ui-draggable" id="P_Medicine06" style="position:absolute;top:130px;left:5px;background: #eeeeee url(&quot;../textures/items/P_Medicine06.png&quot;);visibility:hidden;"></div>
            <div class="draggable ui-draggable" id="S_Holy06" style="position:absolute;top:170px;left:5px;background: #eeeeee url(&quot;../textures/items/S_Holy06.png&quot;);visibility:hidden;"></div>


            <canvas id="tile_0_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_0_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_1_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_1_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_2_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_2_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_3_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_3_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_4_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_4_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_5_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_5_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_6_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_6_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_7_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_7_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_8_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_8_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>

            <canvas id="tile_9_0" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_1" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_2" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_3" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_4" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_5" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_6" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_7" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_8" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>
            <canvas id="tile_9_9" width="512" height="512" style="visibility:hidden;z-index:0;position:absolute;"></canvas>


        </div>
        <div id="chat">
        </div>

        <input type="text" name="tx" id="tx" /> <input type="button" value="send" id="btn" />
        <script>
            var players = {"me":{}};
            var run=false;
            var conTime = 0;
            var cdelta = 0;
            var stime = 0;
var milliseconds=0;
function getConnTime() {
    var currentTime = new Date();
//     milliseconds = currentTime-conTime-cdelta+stime;
    var gminutes = 0//Math.floor((milliseconds / (21))%60);
    var ghours   = Math.floor(((milliseconds) / (1950)) % 24);
//    stime = milliseconds;
var scope = angular.element(document.getElementById("content-frame")).scope();
scope.$apply(function(){
    scope.clock=("0" + ghours).slice(-2)+':'+("0" + gminutes).slice(-2);
});

return ghours+':'+gminutes;
}
            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }
            document.getElementById('btn').onclick=function(){conn.send(document.getElementById('tx').value);};


            var conn = null;

            function connectWs() {
              conn = new WebSocket('ws://localhost:8081/launch');
              setTimeout(bindEvents, 1000);
              setReadyState();
          }

          function bindEvents() {


           conn.onerror = function(error) {
            document.location='/app_dev.php/login_check';
        }

        conn.onmessage = function(e) {
//            console.log(e.data);
var scope = angular.element(document.getElementById("content-frame")).scope();
scope.$apply(function(){
   if (e.data.substring(0,4)=='POS:')
   { 
    var res = e.data.substring(4).split(",");
//                scope.logs[scope.logs.length] = e.data;
setTimeout(function(){
    app.Config.yawObject.position.x=(res[0]-1);
    app.Config.yawObject.position.y=(res[1]-1);
    app.Config.yawObject.position.z=(res[2]-1);
},1000);

}
if (e.data.substring(0,3)=='ST:')
{     
    var res = e.data.substring(3);
    //scope.clock=res

    var res = res.split(":");
    var currentTime = new Date();
    conTime = new Date('2014', '01', '01', '00', res[0], res[1])
    cdelta = currentTime-conTime;
    stime = parseInt(res[0])*60*1000+ parseInt(res[1])*1000;
    
}

if (e.data.substring(0,6)=='UCHAT:')
{     
    var res = e.data.substring(6).split(":");
    if (angular.element(document.getElementById("cdiv")).scope()!="undefined")
    angular.element(document.getElementById("cdiv")).scope().receivemessage(res[0],res[1]);
}



if (e.data.substring(0,5)=='UPOS:')
{     
    var res = e.data.substring(5).split(":");
//alert(res[0])
var found=false;
for(var key in players)
{if (key==res[0])found=true;}
  if (!found) {
        // BUILD PLAYER LOCALLY HERE
        players[res[0]]={};

        // PLAYER NAME
        var canvas1 = document.createElement('canvas');
        var context1 = canvas1.getContext('2d');
        context1.font = "Bold 50px Arial";    
        canvas1.style.width='100px';
        canvas1.style.height='20px';
        context1.fillStyle = "rgba(50,255,255,1)";
        context1.fillText(res[0], 0, 50);
        var texture1 = new THREE.Texture(canvas1) 
        texture1.needsUpdate = true;
        var material1 = new THREE.MeshBasicMaterial( {map: texture1, alphaTest: 0.5,side:THREE.FrontSide } );
        material1.transparent = true;
        var pg =  new THREE.PlaneGeometry(20,8);
        var geometry2 = pg.clone();
        geometry2.applyMatrix( new THREE.Matrix4().makeRotationY( Math.PI ) );
        THREE.GeometryUtils.merge( pg, geometry2, 1 );
        app.Config.tr1 = new THREE.Mesh(
         pg,
         material1
         );
        app.Config.tr1.id = 'tr1';
        app.Config.scene.add( app.Config.tr1 );
        players[res[0]].nameObject = app.Config.tr1;
        var config = {

            baseUrl: "/models/avatars/",

            body: "knight.js",
            skins: [ "knight.jpg"],
            weapons:  [ 
            ["knightweapon.js","knightweapon.png"]
            ]

        };
        players[res[0]].characterObject = new THREE.MD2Character();
    players[res[0]].characterObject.scale = 3;
    players[res[0]].characterObject.loadParts( config );
    players[res[0]].characterObject.root.scale.set(0.18,0.18,0.18);
    this.Config.scene.add( players[res[0]].characterObject.root ); 
    }
                
        var res2 = res[1];

         res2 = res2.split(",");
        //        console.log(res)
        if (!run) {
            run=true;
            //app.Config.character.setAnimation('run');
            //setTimeout("run=false;app.Config.character.setAnimation('stand');",500)
        }
        //                scope.logs[scope.logs.length] = e.data;
    
        players[res[0]].characterObject.root.position.x=parseInt(res2[0]);
        players[res[0]].characterObject.root.position.y=parseInt(res2[1]);
        players[res[0]].characterObject.root.position.z=parseInt(res2[2]);
                                              
        players[res[0]].nameObject.position.x= players[res[0]].characterObject.root.position.x;
        players[res[0]].nameObject.position.z= players[res[0]].characterObject.root.position.z;
        players[res[0]].nameObject.position.y = players[res[0]].characterObject.root.position.y+20;
        
    }
            });
};
conn.onopen = function() {
    //console.log('onopen called');
    setReadyState();
};
}

function setReadyState() {
  //console.log('conn.readyState: ' + conn.readyState);
  setTimeout('conn.send("ST");',1500);
  setTimeout('conn.send("POS");',1500);
}





connectWs();

  loadMap();

function loadMap() {
setInterval( function() {
    $.getJSON('/app_dev.php/map2', function(data) {
        var end ='';
            $.each(data, function(index) {
                var name = index;
                var pos = data[index]//.split(',');
                var posx=pos[0]/52
                var posy=pos[2]/52
                //console.log("pos :"+pos[0]+" "+pos[2]);
                $(".pos").remove();
                end +='<div style="z-index:200000;position:absolute;top:'+posx+'px;left:'+posy+'px;color:red;" class="pos">&#8226;</div>';
            });
               $("#map").append(end);
        });
},1000);
}


</script>
<style type="text/css">
    .zoom {  
 /*  -webkit-transition: all .3s ease-out; 
   -moz-transition: all .3s ease-out; 
   -o-transition: all .3s ease-out; 
   transition: all .3s ease-out;
}
.zoom:hover { */
 -moz-transform: scale(5);
 -webkit-transform: scale(5);
 -o-transform: scale(5);
 transform: scale(5);
 -ms-transform: scale(5);
 filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
     M10=5, M12=-0, M21=0, M22=5);
}
</style>
<div style="position:absolute;top:0px;left:0px;"><div id="map"><!--clip: rect(0px,100px,100px,0px);">
    <div class="zoom" id="zzoom">-->
        <img src="/orpgl-mapgen/images/tile_0_0.jpg" style="position:absolute;top:    0px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_1.jpg" style="position:absolute;top:    0px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_2.jpg" style="position:absolute;top:    0px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_3.jpg" style="position:absolute;top:    0px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_4.jpg" style="position:absolute;top:    0px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_5.jpg" style="position:absolute;top:    0px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_6.jpg" style="position:absolute;top:    0px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_7.jpg" style="position:absolute;top:    0px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_8.jpg" style="position:absolute;top:    0px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_0_9.jpg" style="position:absolute;top:    0px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_1_0.jpg" style="position:absolute;top:    20px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_1.jpg" style="position:absolute;top:    20px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_2.jpg" style="position:absolute;top:    20px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_3.jpg" style="position:absolute;top:    20px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_4.jpg" style="position:absolute;top:    20px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_5.jpg" style="position:absolute;top:    20px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_6.jpg" style="position:absolute;top:    20px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_7.jpg" style="position:absolute;top:    20px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_8.jpg" style="position:absolute;top:    20px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_1_9.jpg" style="position:absolute;top:    20px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_2_0.jpg" style="position:absolute;top:    40px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_1.jpg" style="position:absolute;top:    40px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_2.jpg" style="position:absolute;top:    40px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_3.jpg" style="position:absolute;top:    40px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_4.jpg" style="position:absolute;top:    40px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_5.jpg" style="position:absolute;top:    40px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_6.jpg" style="position:absolute;top:    40px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_7.jpg" style="position:absolute;top:    40px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_8.jpg" style="position:absolute;top:    40px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_2_9.jpg" style="position:absolute;top:    40px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_3_0.jpg" style="position:absolute;top:    60px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_1.jpg" style="position:absolute;top:    60px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_2.jpg" style="position:absolute;top:    60px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_3.jpg" style="position:absolute;top:    60px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_4.jpg" style="position:absolute;top:    60px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_5.jpg" style="position:absolute;top:    60px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_6.jpg" style="position:absolute;top:    60px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_7.jpg" style="position:absolute;top:    60px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_8.jpg" style="position:absolute;top:    60px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_3_9.jpg" style="position:absolute;top:    60px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_4_0.jpg" style="position:absolute;top:    80px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_1.jpg" style="position:absolute;top:    80px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_2.jpg" style="position:absolute;top:    80px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_3.jpg" style="position:absolute;top:    80px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_4.jpg" style="position:absolute;top:    80px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_5.jpg" style="position:absolute;top:    80px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_6.jpg" style="position:absolute;top:    80px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_7.jpg" style="position:absolute;top:    80px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_8.jpg" style="position:absolute;top:    80px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_4_9.jpg" style="position:absolute;top:    80px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_5_0.jpg" style="position:absolute;top:    100px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_1.jpg" style="position:absolute;top:    100px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_2.jpg" style="position:absolute;top:    100px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_3.jpg" style="position:absolute;top:    100px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_4.jpg" style="position:absolute;top:    100px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_5.jpg" style="position:absolute;top:    100px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_6.jpg" style="position:absolute;top:    100px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_7.jpg" style="position:absolute;top:    100px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_8.jpg" style="position:absolute;top:    100px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_5_9.jpg" style="position:absolute;top:    100px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_6_0.jpg" style="position:absolute;top:    120px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_1.jpg" style="position:absolute;top:    120px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_2.jpg" style="position:absolute;top:    120px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_3.jpg" style="position:absolute;top:    120px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_4.jpg" style="position:absolute;top:    120px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_5.jpg" style="position:absolute;top:    120px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_6.jpg" style="position:absolute;top:    120px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_7.jpg" style="position:absolute;top:    120px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_8.jpg" style="position:absolute;top:    120px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_6_9.jpg" style="position:absolute;top:    120px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_7_0.jpg" style="position:absolute;top:    140px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_1.jpg" style="position:absolute;top:    140px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_2.jpg" style="position:absolute;top:    140px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_3.jpg" style="position:absolute;top:    140px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_4.jpg" style="position:absolute;top:    140px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_5.jpg" style="position:absolute;top:    140px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_6.jpg" style="position:absolute;top:    140px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_7.jpg" style="position:absolute;top:    140px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_8.jpg" style="position:absolute;top:    140px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_7_9.jpg" style="position:absolute;top:    140px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_8_0.jpg" style="position:absolute;top:    160px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_1.jpg" style="position:absolute;top:    160px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_2.jpg" style="position:absolute;top:    160px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_3.jpg" style="position:absolute;top:    160px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_4.jpg" style="position:absolute;top:    160px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_5.jpg" style="position:absolute;top:    160px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_6.jpg" style="position:absolute;top:    160px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_7.jpg" style="position:absolute;top:    160px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_8.jpg" style="position:absolute;top:    160px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_8_9.jpg" style="position:absolute;top:    160px;left:   180px;width:  20px;height:  20px;"/>

        <img src="/orpgl-mapgen/images/tile_9_0.jpg" style="position:absolute;top:    180px;left:   0px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_1.jpg" style="position:absolute;top:    180px;left:   20px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_2.jpg" style="position:absolute;top:    180px;left:   40px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_3.jpg" style="position:absolute;top:    180px;left:   60px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_4.jpg" style="position:absolute;top:    180px;left:   80px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_5.jpg" style="position:absolute;top:    180px;left:   100px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_6.jpg" style="position:absolute;top:    180px;left:   120px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_7.jpg" style="position:absolute;top:    180px;left:   140px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_8.jpg" style="position:absolute;top:    180px;left:   160px;width:  20px;height:  20px;"/>
        <img src="/orpgl-mapgen/images/tile_9_9.jpg" style="position:absolute;top:    180px;left:   180px;width:  20px;height:  20px;"/>
        <!--<div style="z-index:200000;position:absolute;top:-6px;left:-3px;color:red;" id="mpos">&#8226;</div>-->

    </div>
</div>
</body>
</html>

